.container {
  text-align: center;
}

.container .heading {
  font-weight: bold;
  color: #3E2723;
}

.empform input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
}

.emp-table button {
  font-size: 20px;
  background-color: none;
  border: none;
}

.editbtn {
  background-color: #61dafb;
}

.deletebtn {
  background-color: red;
}

.updatebtn {
  background-color: goldenrod;
}

.editbtn,
.deletebtn,
.updatebtn {
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 20px;
  padding: 3px 16px;

}

table td {
  vertical-align: center !important;
}

td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.highlight {
  border: 2px solid #ffcc00;
  background-color: #fff9e6;
  transition: background-color 0.5s, border-color 0.5s;
}